
.modal--registration .form__content {
    padding: 10px;
}

.windoy__content{
    max-width: 400px;
    min-height: 474px;
}

.form__content__captha{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.captha{
    width: 150px;
    height: 50px;
}

.form__captha{
    width: 160px;
    height: 49px;
}

.header__open span{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    opacity: .3;
    transition: .12s;
}